.footer-container{
	position: sticky;
	bottom: 0;
	display: grid;
	justify-content: space-between;
	height: 100px;
	padding:10px;
	align-items: center;
	gap: 10px;
	background-color: #2f3045;
	color: white;
  z-index: 999;
	margin: 0;
	grid-template-areas:"logo promo"
											"social social";
}

@media (min-width: 988px) {
  .footer-container {
		padding:0 30px;
		grid-template-areas:"logo social promo";
		gap: 20px;
		height: 80px;
  }
}

.social-container{
	grid-area: social;
	display: flex;
	flex-direction: row;
	gap: 25px;
	list-style: none;
	justify-content: center;
}	
.icons-container{
	cursor: pointer;
}

.icons{
	color: white;
	font-size: 1.5em;
	text-decoration-line:none;
}
.icons-container:hover{
	text-decoration-line:underline;
}
.icons-container:active{
	color: rgba(255, 255, 255, 0.438);
}

.promo-container{
	grid-area: promo;
	display: inline-block;
	min-width: 100px;
}

.promo-container>img{
	width: 100%;
	height: 100%;
}

.footer-tittle{
	grid-area: logo;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.logo-container{
	display: inline-block;
	width: 200px;
	height: 60px;
}
.logo-nick{
	width: 100%;
	height: 100%;
}